[submodule "datafetcher/fred"]
	path = datafetcher/fred
	url = https://github.com/zachwill/fred.git
[submodule "datafetcher/Congress"]
	path = datafetcher/Congress
	url = https://github.com/tomigee/Congress.git
